<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>MAQUETADO</title>
</head>
<body>
    <h1>VINOS MÁS VENDIDOS DEL MES</h1>
    <br>
    <h2>Top Selling Wines this Month</h2>
    <br>
    <div class="grid">
        <div id="1" class="vino">Vino Cítrico</div>
        <div id="2" class="vino">Vino Rosado</div>
        <div id="3" class="vino">Vino Floral</div>
        <div id="4" class="vino">Vino Malbec</div>
    </div>
</body>
</html>